extends layout/layout

block append head
	script(src='/requirejs/require.js' defer async="true" data-main='/js/wap.js')

block content
	h1= title
	//- span asodkoasd
	p Welcome to #{title}
	div _____________________________
	h1 Hello #{name}
	div _____________________________
	#content
		.block
			input#bar.foo1.foo2
	div _____________________________
	ul#books
		li
			a(href="#book-a") Book A
		li
			a(href="#book-b") Book B
	ul#books
		li: a(href="#book-a") Book A
		li: a(href="#book-b") Book B
	div _____________________________
	h1 foo
	h2= book.name
	h3 "#{book.name}" for #{book.price} €
	div _____________________________
	p
		| foo bar
		| hello world
	p.
		foo bar
		hello world
	div _____________________________
	- var foo = "hello world"
	h1= foo
	div _____________________________
	ul#books
		li Hello <em>World</em>
		li= namets
		li!= namets
		li Say #{namets}
		li Say !{namets}
	div _____________________________
	input(type="text", placeholder="your name")
	input(type=type, value='Hello #{name}')
	input(checked=true, disabled=false)
	div _____________________________
	// single line comment
	//- invisible single line comment
	div _____________________________
	// block comment
		h1 hello world
	//- invisible block comment
	h2 how are you?
	div _____________________________
	<!--[if IE 8]>
	script(src='/ie.js')
	<![endif]-->
	div _____________________________
	if name == "Bob"
		h1 Hello Bob
	else
		h1 My name is #{name}
	div _____________________________
	unless errors
		p no errors
	div _____________________________
	select
		each book, i in books
			option(value=i) Book #{book}
	div _____________________________
	ul
		for book in books
			li= book
		else
			li sorry, no books!
	div _____________________________
	case name
		when "Bob"
			p Hi Bob!
		when "Alice"
			p Howdy Alice!
		default
			p Hello #{name}!
	div _____________________________
	mixin book(name, price)
		li #{name} for #{price} €

	ul#books
		+book("Book A", 12.99)
		+book("Book B", 5.99)
	div _____________________________
	mixin book(name)
		div&attributes(attributes)= name

	ul.books
	+book("Book A")#first
	+book("Book B")(title="book b")
	+book("Book C").last
	